.confirmation-container {
	height: 100%;
    position: fixed;
    background-color: #2a2a2a;
    text-align: center;
    color: #fff;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.confirmation-container .confirmation-container-content {
	max-width: 434px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}

.confirmation-container .confirmation-container-content .confirmation-title {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.confirmation-container .confirmation-container-content .text-content {
	font-size: 14px;
	line-height: 1.8;
}