@font-face {
  font-family: Gilroy-Regular;
    src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
    src: url(fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
    src: url(fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(fonts/Gilroy-SemiBold.ttf);
}

.gilroy-regular {
  font-family: 'Gilroy-Regular';
}

.gilroy-medium {
  font-family: 'Gilroy-Medium';
}

.gilroy-semibold {
  font-family: 'Gilroy-SemiBold';
}

.gilroy-bold {
  font-family: 'Gilroy-Bold';
}

table thead.user-thead {
  background-color: #F3F6F9 !important;
  color: #1B283F !important;
  font-size: 12px;
}

td {
  vertical-align: inherit;
}

td.user-p {
	font-family: 'Gilroy-SemiBold';
	font-size: 14px;
}

.dash-body {
	padding: 20px 0 !important;
	overflow-x: auto;
}

.page-3-table .user-thead th {
	font-size: 12px;
	font-family: 'Gilroy-Medium';
	padding: 10px;
}

.page-3-table {
	background-color: #fff;
    padding: 20px;
    overflow-x: auto;
}

.page-3-table .role-type {
	min-width: 200px;
}

.page-3-table .user-p img {
	width: 30px;
}

.page-3-table .user-p .user-name {
	color: #1B283F;
	font-family: Gilroy-SemiBold;
	font-size: 14px;
	font-weight: 600;
	padding-left: 5px;
}

.page-3-table .user-message {
	color: #464E5F;
    font-size: 12px;
    font-family: 'Gilroy-Regular';
}

.page-3-table .comm-percentage {
	color: #1B283F;
	font-family: 'Gilroy-Regular';
	font-weight: 600;
	font-size: 14px;
}

.page-3-table .role-comm {
	min-width: 150px;
}

.page-3-table .rating {
	min-width: 120px;
}

.page-3-table .rating .fa-star {
	color: #FFA800;
	font-size: 10px;
}

.page-3-table .action-btn .btn-active {
	background-color: #34C759;
	color: #fff;
	font-family: 'Gilroy-Regular';
	font-size: 12px;
	width: 82px;
	height: 31px;
	line-height: 13px;
}

@media (min-width: 576px) {
	.page-3-table .tab-container {
		display: flex;
		justify-content: space-between;
	}
}

.page-3-table .tab-container {
	margin-bottom: 10px;
}

.page-3-table .tab-container .tabs-con {
	margin-bottom: 10px;
}

.page-3-table .tab-container .tabs-con span {
	color: #464E5F;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-right: 15px;
	display: inline-block;
}

.page-3-table .tab-container .tabs-con span.active-tab {
	background-color: #F3F6F9;
	color: #1B283F;
    padding: 4px 8px;
    border-radius: 5px
}

.page-3-table .tab-container .made-inactive {
	background-color: #34C759;
	color: #fff;
	border:none;
	border-radius: 5px;
	width: 138px;
	height: 29px;
}

.page-3-table .action-btn .btn-de-active {
	background-color: #ECF0F3;
	color: #1B283F;
	font-family: 'Gilroy-Regular';
	font-size: 12px;
	width: 82px;
	height: 31px;
	line-height: 13px;
}

.page-3-table .role-detail {
	min-width: 300px;
}

.page-3-table .active-text {
	color: #34C759;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
}

.page-3-table .user-name-td {
	width: 180px;
	min-width: 180px;
}

.page-3-table thead th {
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #1B283F;
}

.page-3-table thead th.vendor-outlet {
	width: 100px;
	min-width: 100px;
}

.page-3-table tbody td {
	color: #464E5F;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
}

.page-3-table .vendor-outlet-t span {
	background-color: #F3F6F9;
    border-radius: 8px;
    padding: 6px 10px;
}

@media (max-width: 991px) {
	#kt_content .d-flex.flex-column-fluid {
		padding: 25px 15px !important;
	}
}