@font-face {
  font-family: Gilroy-Regular;
    src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
    src: url(fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
    src: url(fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(fonts/Gilroy-SemiBold.ttf);
}

.gilroy-regular {
  font-family: 'Gilroy-Regular';
}

.gilroy-medium {
  font-family: 'Gilroy-Medium';
}

.gilroy-semibold {
  font-family: 'Gilroy-SemiBold';
}

.gilroy-bold {
  font-family: 'Gilroy-Bold';
}

#kt_content .d-flex.flex-column-fluid {
	padding: 0px 0;
}

.dash-body {
	padding: 0px 10px;
}

.delete-admin-modal .modal-dialog {
	max-width: 420px;
	top: 30%;
}

.delete-admin-modal .modal-header {
	text-align: center;
	border-bottom: none;
}

.delete-admin-modal .modal-header img {
	width: 120px;
	margin: 0 auto;
}

.delete-admin-modal .modal-footer {
	border-top: none !important;
	padding-top: 0 !important;
}

.delete-admin-modal .modal-footer button {
	width: 48%;
	border-radius: 3px;
}

.delete-admin-modal .modal-body {
	color: #1B283F;
	font-family: 'Gilroy-Regular';
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 0;
}

.view-fleet-form {
	padding: 35px 80px 10px;
	background-color: #fff;
	border-radius: 4px;
}

.edit-delete-form {
	position: absolute;
    right: 30px;
    margin-top: 5px;
}

.edit-delete-form img {
    background: #F2F2F7;
    padding: 6px;
    border-radius: 3px;
}

.view-fleet-form input, .view-fleet-form select {
	height: 47px;
    color: #80808F;
    font-size: 14px;
    font-family: 'Gilroy-Regular';
    border-radius: 3px;
}

.view-fleet-form input {
	color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Gilroy-Medium';
}

.view-fleet-form label {
	color: #1B283F;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

.view-fleet-form .form-group {
	position: relative;
}

.view-fleet-form div:nth-child(13) input::placeholder {
	color: #1C1C1E;
	font-size: 15px;
	font-family: 'Gilroy-Medium';
}

.view-fleet-form div:nth-child(13) input::-webkit-input-placeholder {
	color: #1C1C1E;
	font-size: 15px;
	font-family: 'Gilroy-Medium';
}

.view-fleet-form div:nth-child(13) input:-ms-input-placeholder {
	color: #1C1C1E;
	font-size: 15px;
	font-family: 'Gilroy-Medium';
}

.view-fleet-form div:nth-child(15) input::placeholder {
	color: #1C1C1E;
	font-size: 15px;
	font-family: 'Gilroy-Medium';
}

.view-fleet-form div:nth-child(15) input::-webkit-input-placeholder {
	color: #1C1C1E;
	font-size: 15px;
	font-family: 'Gilroy-Medium';
}

.view-fleet-form div:nth-child(15) input:-ms-input-placeholder {
	color: #1C1C1E;
	font-size: 15px;
	font-family: 'Gilroy-Medium';
}
 
.view-fleet-form .form-control.upload {
	position: relative;
    text-align: right;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}

.view-fleet-form .fakefile {
	position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
}

.view-fleet-form .fakefile input {
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.view-fleet-form .fakefile img {
	position: absolute;
    right: 10px;
    top: 16px;
    width: 20px;
}

.view-fleet-form .fakefile .placeholder {
	position: absolute;
	color: #1C1C1E;
	font-family: 'Gilroy-Regular';
	font-size: 15px;
	font-weight: 600;
	left: 10px;
	top: 10px;
}

.view-fleet-form .fakefile .placeholder .light {
	font-weight: 400;
}

.view-fleet-form .btn-fleet-submit {
	max-width: 410px;
	margin: 0 auto;
}

.view-fleet-form .btn-fleet-submit button {
	background-color: #C7112B;
	color: #fff;
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	width: 100%;
}

.view-fleet-form .calendar-icon {
	position: absolute;
    top: 8px;
    right: 10px;
}

#blah {
	width: 50px !important;
    height: 40px !important;
    position: absolute;
    top: 4px;
    z-index: 9999999999;
    left: 5px;
}

.view-fleet-form img[src="#"] {
    display: none;
}

.view-fleet-form .in-riview {
	color: #EE2D41;
	position: absolute;
    top: 15px;
    right: 8px;
    font-size: 15px;
    font-family: 'Gilroy-Regular';
}

.view-fleet-form .complete {
	color: #32D74B;
	position: absolute;
    top: 15px;
    right: 8px;
    font-size: 15px;
    font-family: 'Gilroy-Regular';
}
@media (max-width: 576px) {
	.view-fleet-form {
		padding: 35px 20px 10px;
	}
}