@font-face {
  font-family: Gilroy-Regular;
    src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
    src: url(fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
    src: url(fonts/Gilroy-Bold.ttf);
}

.gilroy-regular {
  font-family: 'Gilroy-Regular';
}

.gilroy-medium {
  font-family: 'Gilroy-Medium';
}

.gilroy-bold {
  font-family: 'Gilroy-Bold';
}

.roboto-condensed {
  font-family: 'Roboto Condensed';
}

.login.login-1 .login-aside .aside-img {
    min-height: 450px; 
    background-size: contain;
}

.envision-red-logo {
    text-align: center;
    display: block;
    margin: 0px auto 60px;
}

.envision-white-logo {
      text-align: left;
    margin-right: auto;
    padding-left: 25px;
    padding-top: 25px;
}

.forgot-password {
    margin-top: 15px;
    margin-left: auto;
}

.welcome-title {
  color: #1B283F;
  font-family: 'Roboto Condensed';
  font-size: 31px;
}

.forgot-title {
  color: #C7112B;
  font-family: 'Roboto Condensed';
  font-size: 31px;
}

.leave-text {
  color: #000;
  font-size: 14px;
}

.login.login-1 .login-signin,
.login.login-1 .login-signup,
.login.login-1 .login-forgot {
  display: none; }

.login.login-1.login-signin-on .login-signup {
  display: none; }

.login.login-1.login-signin-on .login-signin {
  display: block; }

.login.login-1.login-signin-on .login-forgot {
  display: none; }

.login.login-1.login-signup-on .login-signup {
  display: block; }

.login.login-1.login-signup-on .login-signin {
  display: none; }

.login.login-1.login-signup-on .login-forgot {
  display: none; }

.login.login-1.login-forgot-on .login-signup {
  display: none; }

.login.login-1.login-forgot-on .login-signin {
  display: none; }

.login.login-1.login-forgot-on .login-forgot {
  display: block; }

@media (min-width: 992px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 600px; }
  .login.login-1 .login-content {
    width: 100%;
    max-width: 500px; }
    .login.login-1 .login-content .login-form {
      width: 100%;
      max-width: 450px; } }

@media (min-width: 992px) and (max-width: 1399.98px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 450px; } }

@media (max-width: 991.98px) {
  .login.login-1 .login-content .login-form {
    width: 100%;
    max-width: 400px; } }

@media (max-width: 575.98px) {
  .login.login-1 .aside-img {
    min-height: 300px !important;
    background-size: 400px; }
  .login.login-1 .login-content .login-form {
    width: 100%;
    max-width: 100%; } }
