#root {
  height: 100%;
}

.header-fixed.header-mobile-fixed.subheader-enabled.subheader-fixed.aside-enabled.aside-fixed.aside-minimize-hoverable.page-loading {
  height: 100%;
}

.d-flex.flex-column.flex-root {
  height: 100%;
}

.selection-area {
  width: auto;
  height: 75px;
}

@media (min-width: 991px) {
  .side_bar_wrapper {
    width: 50%;
  }

  .side_bar_wrapper .login-aside.d-flex.flex-column.flex-row-auto {
    position: fixed;
    height: 100%;
  }
}

.aside-menu-wrapper {
  max-height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.table-data:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.cursor-class {
  cursor: pointer;
}
.cursor-class-hover:hover {
background-color: #f0f3f7;
  cursor: pointer;
}

.transbox {
  opacity: 0.1;
}

/* Adding custom switch css */
.custom-switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

.custom-switch-input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.custom-switch-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.custom-switch-input:checked + .custom-switch-slider {
  background-color: #C7112B;
}

.custom-switch-input:focus + .custom-switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

.custom-switch-input:checked + .custom-switch-slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.custom-switch-slider.custom-switch-round {
  border-radius: 34px;
}

.custom-switch-slider.custom-switch-round:before {
  border-radius: 50%;
}